body {
    padding: 0;
    margin: 0;
    font-family: "Ubuntu", sans-serif;
}

.header {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 40px;
    font-weight: bold;
}

.header-text {
    cursor: pointer;
}

.section {
    width: 60%;
    height: 50px;
    display: flex;
    justify-content: center;
    margin: auto;
    font-size: 40px;
    font-weight: bold;
    background-color: #b6b6b6;
}

.section-text {
    cursor: pointer;
    margin-left: 50px;
    margin-right: 50px;
}

.products-container {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    margin: 50px auto;
    gap: 20px;
}

.product-card1 {
    flex: 1;
    border: 2px solid #000;
    background-color: #fff;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-card2 {
    flex: 1;
    border: 2px solid #000;
    background-color: #fff;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-card1 img {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 10px;
}

.product-card2 img {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 10px;
}

#specs {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
}