body {
  margin: 0;
  min-height: 100vh;
  background-size: 500% 500%;
  background-color: #000000;
  font-family: "Poppins", sans-serif;
}

#nadpis {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150px;
  font-weight: bold;
  position: absolute;
  top: 15%;
  width: 100%;
  height: 600px;
  z-index: 3;
  color: rgb(255, 0, 0);
  margin: 0;
}


.box {
  display: flex;
  justify-content: space-between;
  font-size: 40px;
  padding: 10px;
}

.prvek {
  background: lightblue;
  padding: 20px 100px;
  border: solid;
  border-radius: 100px;
  background-color: rgb(77, 197, 244);
  font-weight: bold;
  text-decoration: none;
  color: black;
}

#obrazek1 {
  position: absolute;
  top: 15%;
  left: 0%;
  width: 100%;
  height: 600px;
  filter: blur(1px);
  border-radius: 100px;
  z-index: 2;
}

#obrazek2 {
  position: absolute;
  height: auto;
  border-radius: 100px;
  z-index: 0;
  top: 80%;
  left: 0%;
  width: 35%;
  height: 400px;
}

#O_Mně {
  position: absolute;
  top: 85%;
  left: 41%;
  scale: 2;
  font-size: 30px;
  font-weight: bold;
  z-index: 2;
  color: white;
}

#O_Mně2 {
  position: absolute;
  top: 95%;
  left: 40.5%;
  scale: 1.1;
  font-size: 20px;
  z-index: 2;
  color: white;
}

#O_Mně3 {
  position: absolute;
  top: 100%;
  left: 39.7%;
  scale: 1.1;
  font-size: 20px;
  z-index: 2;
  color: white;
}

#Socky {
  position: absolute;
  top: 130%;
  left: 45%;
  scale: 2;
  font-size: 25px;
  font-weight: bold;
  z-index: 2;
  color: white;
}

.icons {
  text-align: center;
  color: white;
  position: absolute;
  top: 155%;
  left: 35%;
  scale: 2;
  z-index: 10;
}

.icons a {
  text-decoration: none;
}

.fa-brands.fa-github.fa-10x {
  color: white
}

.fa-brands.fa-instagram.fa-10x {
  color: white;
}

.fa-brands.fa-youtube.fa-10x {
  color: white;
}


.fa-brands.fa-github.fa-10x:hover {
  color: rgb(180, 148, 148);
}

.fa-brands.fa-instagram.fa-10x:hover {
  color: purple
}

.fa-brands.fa-youtube.fa-10x:hover {
  color: red
}

#Projekty {
  position: absolute;
  top: 200%;
  left: 50%;
  scale: 2;
  font-size: 30px;
  font-weight: bold;
  z-index: 2;
  color: white;
}

#Projekty2 {
  position: absolute;
  top: 210%;
  left: 37%;
  scale: 1.1;
  font-size: 20px;
  z-index: 2;
  color: white;
}

#Ceník {
  position: absolute;
  top: 240%;
  left: 50%;
  scale: 2;
  font-size: 30px;
  font-weight: bold;
  z-index: 2;
  color: white;
}

#Ceník2 {
  position: absolute;
  text-align: center;
  top: 250%;
  scale: 1;
  font-size: 20px;
  z-index: 2;
  color: white;
  left: 32%;

}

.box2 {
  color: white;
  width: 50vw;
  height: 50vh;
  border: none;
  border-radius: 20px;
  background: transparent;
  margin: 20px;
  z-index: 3;

}

.box3 {
  color: red;
  position: absolute;
  width: 1000px;
  height: 1000px;
  z-index: 3;
}
