body {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
}

.header {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 40px;
    font-weight: bold;
}

.header a {
    text-decoration: none;
    color: inherit;
}

.header-text {
    display: inline-block;
    transition: scale 0.2s, color 0.2s;
    cursor: pointer;
}

.header-text:hover {
    scale: 1.2;
    color: rgb(255, 68, 35);
    text-decoration: underline;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 90%;
    height: 700px;
    font-size: 25px;
}

.img {
    width: 500px;
    height: 500px;
}

.procesor {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
    margin-left: auto;
    margin-right: 5%;
    font-size: 25px;
    white-space: pre-line;
    border: 1px solid #000;
    padding: 20px;
}

.procesor-info {
    margin: 10px;
}

.image-Core-Ultra-7 {
    position: absolute;
    top: 58%;
    left: 30%;
    transform: translateX(-50%);
    width: 600px;
    height: 600px;
}

.grafika {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
    margin-left: auto;
    margin-right: 5%;
    font-size: 25px;
    white-space: pre-line;
    border: 1px solid #000;
    padding: 20px;
}

.grafika-info {
    margin: 10px;
}

.image-Arc-140V {
    position: absolute;
    top: 135%;
    left: 25%;
    transform: translateX(-50%);
    width: 300px;
    height: 300px;
}