body {
    padding: 0;
    margin: 0;
    font-family: "Ubuntu", sans-serif;
}

.header {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 20px 0;
    box-sizing: border-box;
    border-bottom: 2px solid #000;
}

.logo-link {
    padding-left: 20px;
    display: flex;
    justify-content: flex-start;
}

.header-nav {
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

.header-text {
    display: inline-block;
    transition: scale 0.2s, color 0.2s;
    cursor: pointer;
    font-size: 40px;
    font-weight: bold;
}

.header-text:hover {
    scale: 1.2;
    color: rgb(255, 68, 35);
    text-decoration: underline;
    text-shadow: #000000 7px 7px 10px;
}

.section {
    width: fit-content;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    background-color: #b6b6b6;
    margin: auto;
    gap: 50px;
}

.section-text {
    cursor: pointer;
    transition: color 0.2s, transform 0.2s;
}

.section-text:hover {
    text-decoration: underline;
    transform: scale(1.1);
}

.products-container {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    margin: 50px auto;
    gap: 20px;
}

.product-card:hover {
    scale: 1.2;
}

.product-card {
    flex: 1;
    border: 2px solid #000;
    background-color: #fff;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: scale 0.2s, border-color 0.2s;
    box-shadow: 1px -1px 5px rgb(0, 0, 0);
    border-radius: 100px;
}

.product-card a {
    text-decoration: none;
    color: inherit;
}

.add-to-cart-btn {
    width: 200px;
    height: 50px;
    font-size: 20px;
    border-radius: 50px;
    font-weight: bold;
    transition: scale 0.2s, border-color 0.2s;
    background-color: red;
    color: white;
    border: none;
}

.add-to-cart-btn:hover {
    cursor: pointer;
    scale: 1.2;
    border-color: tomato;
}

.cart-icon-container {
    padding-right: 40px;
    cursor: pointer;
    transition: transform 0.2s;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
}

.cart-icon-container a {
    position: relative;
    display: flex;
    align-items: center;
}

.kosik {
    width: 30px;
    height: 30px;
}

.cart-badge {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: rgb(255, 68, 35);
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 15px;
    text-align: center;
    line-height: 20px;
}

.logo {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

@media (max-width: 1320px) {
    .logo-link {
        display: none;
    }
}

@media (max-width: 768px) {
    .logo-link {
        display: none;
    }

    .section {
        width: fit-content;
    }

    .section-text {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (max-width: 480px) {
    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
        padding: 10px 5px;
        gap: 15px;
    }

    .header-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        scale: 0.9;
        gap: 5px;
        font-size: 10px;
    }

    .logo-link {
        padding-left: 0;
        display: none;
    }

    .cart-icon-container {
        padding-right: 0;
        margin-left: 0;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .section-container {
        font-size: 25px;
        width: fit-content;
        justify-content: center;
        text-align: center;
    }

    .section-text {
        scale: 0.9;
        width: auto;
    }

    .products-container {
        grid-template-columns: repeat(2, 1fr);
        scale: 0.78;
    }
}
