html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6rem;
    background-color: #05070a;
    color: #ffffff;
    font-family: "SN Pro", sans-serif;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5%;
    box-sizing: border-box;
    text-decoration: none;
}

.navigation_bar {
    display: flex;
    gap: 50px;
    align-items: center;
}

.navigation_bar a {
    color: gray;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navigation_bar a:hover {
    color: rgb(184, 184, 184);
}

.profile-container {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin-bottom: 2rem;
    overflow: hidden;
}

.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-text {
    margin: 0.5rem 0;
    width: 90%;
    max-width: 800px;
    text-align: center;
}

.reach-out {
    width: 100px;
    height: 30px;
    background-color: #ff0000;
    scale: 1.2;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 5px 8px rgba(255, 0, 0, 0.8);
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
}

.reach-out:hover {
    scale: 1.5;
    transition: 0.2s;
}

.about {
    position: absolute;
    top: 105%;
    left: 10%;
    font-size: 300%;
    color: #ffffff;
}

.about-container {
    position: absolute;
    top: 120%;
    left: 10%;
    width: 700px;
    height: 500px;
    color: #94a3b8;
}

.about-image {
    position: absolute;
    top: -5%;
    left: 110%;
    width: 500px;
    height: 500px;
    scale: 1.2;
    object-fit: scale-down;
}

.slaying {
    position: absolute;
    top: 190%;
    left: 10%;
    font-size: 300%;
    width: 800px;
    color: #ffffff;
}

#slaying-text {
    position: absolute;
    top: 205%;
    left: 10%;
    font-size: 150%;
    color: #94a3b8;
}

.photoes {
    position: absolute;
    top: 230%;
    left: 50%;
    transform: translateX(-50%);
    width: 1300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.photoes img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    background-color: #eee;
}

.projects {
    position: absolute;
    top: 420%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 300%;
    color: #ffffff;
}

.projects-text {
    position: absolute;
    top: 435%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 150%;
    text-align: center;
    width: 800px;
    color: #94a3b8;
}

.project-item1 {
    position: absolute;
    top: 470%;
    left: 50%;
    transform: translateX(-50%);
    width: 1000px;
    height: 500px;
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 20px;
    box-sizing: border-box;
}

.project-item2 {
    position: absolute;
    top: 540%;
    left: 50%;
    transform: translateX(-50%);
    width: 1000px;
    height: 500px;
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 20px;
    box-sizing: border-box;
}

.project-item3 {
    position: absolute;
    top: 610%;
    left: 50%;
    transform: translateX(-50%);
    width: 1000px;
    height: 500px;
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 20px;
    box-sizing: border-box;
}

.project-item4 {
    position: absolute;
    top: 680%;
    left: 50%;
    transform: translateX(-50%);
    width: 1000px;
    height: 500px;
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 20px;
    box-sizing: border-box;
}


.project-item1 img,
.project-item2 img,
.project-item3 img,
.project-item4 img {
    width: 450px;
    height: auto;
    max-height: 450px;
    object-fit: contain;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.contact {
    position: absolute;
    top: 760%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 50px;
    color: #ffffff;
}

#contact-text {
    position: absolute;
    top: 775%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 150%;
    text-align: center;
    width: 800px;
    color: #94a3b8;
}

.reach-me {
    position: absolute;
    top: 800%;
    left: 45%;
    width: 200px;
    height: 50px;
    background-color: #ff0000;
    scale: 1.2;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 5px 8px rgba(255, 0, 0, 0.8);
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
}


.reach-me:hover {
    scale: 1.5;
    transition: 0.2s;
}

#Hi {
    color: #94a3b8;
}

#Front {
    font-size: 80px;
    font-weight: bold;
    color: #ffffff;
}

#Passionate {
    color: #94a3b8;
    font-size: 25px;
}

.footer {
    position: absolute;
    top: 810%;
    width: 100%;
    height: 4rem;
    background-color: rgb(0, 0, 0);
}
