html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(0, 0, 0);
    font-family: "SN Pro", sans-serif;
    margin: 0;
    padding: 0;
}

.jmeno {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    color: white
}

.hry {
    position: absolute;
    top: 40%;
    left: 0%;
    font-size: 35px;
    color: white;
    scroll-margin-top: 7rem;
}

.hudba {
    position: absolute;
    top: 150%;
    font-size: 35px;
    color: white;
    scroll-margin-top: 7rem;
}

.zajmy {
    position: absolute;
    top: 150%;
    font-size: 35px;
    color: white
}

.header {
    position: block;
    z-index: 1000;
    top: 0;
    background-color: red;
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 50px;
}

.header-link {
    text-decoration: none;
    color: white;
}

.header-text {
    color: white;
    margin: 0;
    cursor: pointer;
}

.image-grid1 {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    justify-items: center;
}

.obrázky1 {
    width: 600px;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.image-grid2 {
    position: absolute;
    top: 180%;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    justify-items: center;
}

.obrázky2 {
    width: 600px;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.footer {
    position: absolute;
    top: 270%;
    width: 100%;
    height: 50px;
    background-color: black;

}

.header-text:hover {
    transition: 0.5s;
    scale: 1.4;
    text-decoration: underline;
}